@import "../../styles/variables";
@import "../../styles/mixins";

.faq {
  &__title {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__list {
    @include flex(center, stretch, column, 32px);
    @include mobile {
      gap: 16px;
    }
  }

  &__item {
    background: $color-border;
    border-radius: 12px;
    padding: 0;
    border: 1px solid $color-border-dark;
    transition: background 0.3s ease, visibility 0.3s ease;

    .faq__answer {
      visibility: hidden;
      padding: 0 32px;
      @include mobile {
        padding: 0 16px;
      }
    }

    &.open {
      background: $color-bg;

      .faq__answer {
        visibility: visible;
        max-height: 500px;
        padding: 16px 32px;
        @include mobile {
          padding: 16px;
        }
      }
    }
  }

  &__question {
    text-align: left;
    font-size: 24px;
    background: none;
    border: none;
    padding: 16px 32px;
    cursor: pointer;

    @include flex(space-between, center, row);
    @include mobile {
      align-items: flex-start;
      padding: 16px;
      font-size: 18px;
    }
  }

  &__icon {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 0.8rem;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    background: $color-bg;
    border-radius: 100%;

    &.open {
      transform: rotate(45deg);
      background: $color-border;
    }

    span {
      position: absolute;
      background: $color-primary;
      border-radius: 1px;
      transition: background 0.3s ease;
    }

    // Horizontal bar
    span:first-child {
      width: 25px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // Vertical bar
    span:last-child {
      width: 2px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.2s ease;
    color: $color-text;
    text-align: left;
    font-size: 18px;

    @include mobile {
      font-size: 12px;
    }
  }
}
