@import "../../styles/variables";
@import "../../styles/mixins";

.path {
  &__title-wrapper {
    @include flex(center, flex-start, column, 16px);
    width: 100%;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 15px;
      gap: 8px;
    }
  }

  &__title-underline {
    width: 460px;

    @include mobile {
      width: 220px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    row-gap: 32px;
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 1px;
    }
  }

  &__item {
    display: contents;
  }

  &__item-title {
    width: 100%;

    @include desktop {
      display: none;
    }
  }

  &__item-top-wrapper {
    @include flex(space-between, center, row);
  }

  &__circle {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    z-index: 1;

    &--desktop {
      background-color: $color-border;
    }
    &--highlighted {
      background: $color-bg-secondary;
    }

    @include mobile {
      border: 1px solid $color-border-dark;
    }
  }

  &__circle-lined {
    @include mobile {
      display: none;
    }
    @include desktop {
      margin: 0 5rem;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 76px;
        background-color: $color-border;
        z-index: 0;
        margin-top: 16px;
      }
    }
  }

  &__desc {
    flex: 1;
    text-align: left;
  }

  &__icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    @include mobile {
      width: 48px;
      height: 48px;
    }

    &--desktop {
      @include mobile {
        display: none;
      }
    }
  }

  &__item-title-text {
    @include desktop {
      display: none;
    }
  }

  &__left {
    text-align: right;
    padding-right: 1rem;
    max-width: 445px;

    @include mobile {
      display: none;
    }
  }

  // &__middle {
  //   width: 190px;
  // }

  &__right {
    @include flex(space-between, center, row, 16px);
    background: $color-border;
    border-radius: 24px;
    padding: 30px 32px;

    max-width: 540px;

    @include mobile {
      @include flex(center, flex-start, column, 16px);
      padding: 32px 16px;
      max-width: 350px;
      width: 90%;
    }

    // @include desktop {
    //   width: 520px;
    // }

    &--highlighted {
      background: $color-bg-secondary;
    }
  }
}

.path__item:last-child .path__circle::after {
  display: none;
}
