@import "./variables";
@import "./mixins";

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  scroll-padding-top: 30px;
}

body {
  font-family: $font-main;
  // max-width: 1164px;
  margin: 0 auto;
  // padding: 0 16px;
  text-align: center;
  color: $color-primary;
  font-size: 18px;

  @include mobile {
    font-size: 12px;
  }
}

section,
header,
footer {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1164px;
}

section {
  padding: 100px 16px;
  @include mobile {
    padding: 48px 16px;
  }
}
ul {
  margin: 0;
}

h1 {
  font-size: 90px;

  font-weight: 600;
  margin: 0;

  @include mobile {
    font-size: 40px;
  }
}
h2 {
  font-size: 60px;
  font-weight: 500;
  text-align: left;
  margin: 0;

  @include mobile {
    font-size: 28px;
  }
}
h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  text-align: left;

  @include mobile {
    font-size: 18px;
    font-weight: 400;
  }
}

p {
  margin: 0;
  letter-spacing: -0.02rem;
  line-height: 140%;
  text-align: left;
}

button {
  cursor: pointer;
  background: $color-primary;
  color: white;
  border: none;
  padding: 16px 32px;
  width: 273px;
  height: 66px;
  border-radius: 100px;
  transition: background 0.3s ease;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  :hover {
    background: $color-accent;
    color: white;
  }

  @include mobile {
    width: 288px;
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: $color-primary;
  transition: color 0.3s ease;

  &:hover {
    color: $color-accent;
  }
}

li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}
