@import "../../styles/variables";
@import "../../styles/mixins";

.program {
  background-color: $color-border;
  border-radius: 48px;
  padding: 100px;
  margin: 100px auto;
  @include mobile {
    padding: 48px 16px;
    margin: 48px 0;
  }

  &__title-wrapper {
    @include flex(space-between, center);
    margin-bottom: 64px;

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__arrows-wrapper {
    @include flex(center, center, row, 32px);

    @include mobile {
      display: none;
    }
  }

  &__arrow {
    cursor: pointer;
    width: 72px;
    height: auto;
  }

  &__content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 24px;

    @include mobile {
      gap: 8px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    scroll-snap-align: start;
    flex: 0 0 calc(50% - 0.5rem);

    max-width: 100%;
    background: $color-bg;
    border-radius: 24px;
    max-width: 505px;

    @include flex(center, flex-start, column, 16px);
    padding: 32px;

    @include mobile {
      padding: 32px 16px;
      max-width: 258px;
      flex: 0 0 100%;
    }
  }

  &__item-title {
    min-height: 80px;
    @include mobile {
      height: 50px;
    }
  }
  &__item-description {
    min-height: 135px;

    @include mobile {
      height: 120px;
    }
  }
  &__item-highlight {
    background-color: $color-bg-secondary;
    border-radius: 24px;
    padding: 16px 32px;
    min-height: 140px;

    @include mobile {
      height: 102px;
      padding: 16px;
    }
  }

  &__dots {
    @include flex(center, center, row, 8px);
    margin-top: 24px;

    @include desktop {
      display: none;
    }
  }

  &__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ccc;
    transition: background 0.3s ease;

    &.active {
      background: $color-primary;
    }
  }
}
