@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  z-index: $z-header;
  padding: 14px 16px 0 16px;
  position: sticky;
  top: 0;

  max-width: none;

  &__container {
    @include flex(space-between, center);
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      @include flex(flex-end, center);
    }
  }
  &__burger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    z-index: $z-header + 1;

    span {
      height: 3px;
      width: 100%;
      background: $color-text;
      border-radius: 2px;
      transition: all 0.3s ease;
      transform-origin: center;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
        transform: scaleX(0.5);
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__btn {
    margin-top: 16px;
    @include button-style;
    &--desktop {
      margin-top: 0px;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__nav--desktop {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      gap: 2rem;
    }
  }

  &__nav-links {
    @include flex(space-between, center, column, 16px);
    gap: 1rem;
    padding: 0 2rem;
    // background: $color-bg;
  }
  &__nav-mobile {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;

    &.open {
      max-height: 500px;
      opacity: 0.9;
      transform: translateY(0);
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: 1024px) {
      display: none !important;
    }
  }

  &__burger-link {
    font-size: 18px;
    color: $color-text;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent;
    }
  }

  &__socials {
    @include flex(space-between, center);
    gap: 16px;
    margin: 16px 0;
  }
}
